leftover/vendor
leftover/var
leftover/.env
leftover/.env.test
leftover/.env.local
leftover/.env.dev
leftover/.env.local.php
leftover/.env.*.local
leftover/config/secrets/prod/prod.decrypt.private.php
leftover/public/bundles/
leftover/phpunit.xml.dist

# No sharing files
leftover/.env
no-sharing-testing-files/