/*****************
 ****** Body ******
 *****************/
 html,
 body {
     background-color: rgba(250, 250, 250, 0.631);
     min-width: 350px !important;
 }
 
 body.modal-open {
     overflow: hidden;
 }
 
 h1 {
     font-size: 32px !important;
 }
 
 h2 {
     font-size: 28px !important;
     color: #6c757d !important /* text-muted class in Bootstrap */
 }
 
 h3 {
     font-size: 24px !important;
 }
 
 h4 {
     font-size: 20px !important;
 }
 
 a.link-primary {
     color: #0d6efd !important;
     text-decoration: underline !important;
     cursor: pointer !important;
 }
 
 h6 {
     font-size: 14px !important;
 }
 
 input {
     font-size: 14px !important;
 }
 
 label {
     font-size: 14px !important;
 }

 .backdrop {
     position: fixed;
     top: 0px;
     right: 0px;
     bottom: 0px;
     left: 0px;
     background: rgba(0, 0, 0, 0.3);
     /* This z-indx has to be higher than Leaflet but lower than the top navbar */
     z-index: 1002;
 }
 
 .dropdown-toggle::after {
     display: none !important;
 }

 .dropdown-toggle.disabled {
     background-color: rgb(233, 236, 239) !important;
     pointer-events: none !important;
 }
 
 a.disabled {
     pointer-events: none;
     cursor: default;
 }

 /**************************************
 ****** Camera CSS ********************
 ***************************************/
 #camera {
    max-width: 350px;
}

#capturedImage {
    display: none;
    max-width: 100%;
    height: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
}

.selected {
    box-shadow: 0 0 10px 0 rgba(39, 153, 245, 0.8) !important; /* Blue shadow effect */
}

.stars {
    display: inline-block;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 40px !important;
    color: #ccc;
    cursor: pointer;
}

.stars label:before {
    content: '★';
}

.stars-radio.checked + label {
    color: gold;
}

.banner-success {
    background-color: #defde6 !important;
}

footer {
    background-color: #defde6 !important;
}

a {
    text-decoration: none !important;
}

img {
    border-radius: 50%;
}