/*******************************
 ****** System font size *******
 *******************************/
body {
    background-color: rgba(250, 250, 250, 0.631);
    min-width: 350px !important;
}

h1 {
    font-size: 32px !important;
}

h2 {
    font-size: 28px !important;
    color: #6c757d !important /* text-muted class in Bootstrap */
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-size: 20px !important;
}
 
h6 {
    font-size: 14px !important;
}

input {
    font-size: 14px !important;
}

label {
    font-size: 14px !important;
}

.selected {
    box-shadow: 0 0 10px 0 rgba(39, 153, 245, 0.8) !important; /* Blue shadow effect */
}

.stars {
    display: inline-block;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 40px !important;
    color: #ccc;
    cursor: pointer;
}

.stars label:before {
    content: '★';
}

.stars-radio.checked + label {
    color: gold;
}

.banner-success {
    background-color: #defde6 !important;
}

footer {
    background-color: #defde6 !important;
}

img {
    border-radius: 50%;
}