/* // Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap */

/* // Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) { 

}

/* // Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    .show-hide-all-sessions-btn {
        margin-right: 0px;
    }

    @keyframes cart-drawer-slide-in {
        0% { -webkit-transform: translateX(100vw); }
        100% { -webkit-transform: translateX(50vw); }
    }
    
    @-webkit-keyframes cart-drawer-slide-in {
        0% { -webkit-transform: translateX(100vw); }
        100% { -webkit-transform: translateX(50vw); }
    }
    
    @keyframes cart-drawer-slide-out {
        0% { -webkit-transform: translateX(50vw); }
        100% { -webkit-transform: translateX(100vw); }
    }
    
    @-webkit-keyframes cart-drawer-slide-out {
        0% { -webkit-transform: translateX(50vw); }
        100% { -webkit-transform: translateX(100vw); }
    }
}

/* col col-md-6 col-lg-4 */
/* // Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #cart-slider-card {
        height: auto !important;
    }

    @keyframes cart-drawer-slide-in {
        0% { -webkit-transform: translateX(100vw); }
        100% { -webkit-transform: translateX(50vw); }
    }
    
    @-webkit-keyframes cart-drawer-slide-in {
        0% { -webkit-transform: translateX(100vw); }
        100% { -webkit-transform: translateX(50vw); }
    }
    
    @keyframes cart-drawer-slide-out {
        0% { -webkit-transform: translateX(50vw); }
        100% { -webkit-transform: translateX(100vw); }
    }
    
    @-webkit-keyframes cart-drawer-slide-out {
        0% { -webkit-transform: translateX(50vw); }
        100% { -webkit-transform: translateX(100vw); }
    }
}

/* Customised large devices for slider (desktops, 950px and up) */
@media (min-width: 950px) {
    .col-customise-lg-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }

    .col-customise-lg-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }

    .col-customise-lg-7 {
        flex: 0 0 58.333333%;
        max-width: 58.333333%;
    }

    .col-customise-lg-8 {
        flex: 0 0 64.555555%;
        max-width: 64.555555%;
    }

    .col-customise-lg-9 {
        flex: 0 0 75%;
        max-width: 75%;
    }

    .d-customise-lg-none {
        display: none !important;
    }

    .sliding-filter {
        display: block;
        position: relative;
        transform: translateX(0%);
        -webkit-transform: translateX(0%);
    }

    .slide-in {
        animation: none;
        -webkit-animation: none;
    }

    .slide-out {
        animation: none;
        -webkit-animation: none;
    }
    
}