<nav class="navbar navbar-dark bg-dark navbar-expand-xl sticky-top">
    <a class="navbar-brand" href="{{ path('basic_info') }}">
        <img src="{{ asset('img/logo.png') }}" height="35" />
            &nbsp;&nbsp;
    </a>

    <a class="navbar-brand" href="{{ path('basic_info') }}">
        <span class="d-none d-md-inline text-white">LEFTOVER TO RECIPE </span>
    </a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav mr-auto"></ul>
        <a class="nav-link text-white" href="{{ path('basic_info') }}">HOME</a>
        <a class="nav-link text-white" href="">MY RECIPES</a>
        <a class="nav-link text-white" href="">LOGOUT</a>
    </div>
</nav>