/*******************************
 ****** System font size *******
 *******************************/

html {
    height: 100%;
}

body {
    background-color: #f9f9f9;
    min-width: 330px;
    height: 100%;
}

h1 {
    font-size: 32px !important;
}

h2 {
    font-size: 28px !important;
    color: #6c757d !important/* text-muted class in Bootstrap */
}

h3 {
    font-size: 24px !important;
}

h4 {
    font-size: 20px !important;
}

h6 {
    font-size: 14px !important;
}

input {
    font-size: 14px !important;
}

label {
    font-size: 14px !important;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

.login-header {
    font-size: 1.5rem;
    font-weight: bold;
    text-align: center;
    margin-bottom: 1rem;
}

.login-box {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
}

.selected {
    box-shadow: 0 0 10px 0 rgba(39, 153, 245, 0.8) !important;
    /* Blue shadow effect */
}

.stars {
    display: inline-block;
}

.stars input[type="radio"] {
    display: none;
}

.stars label {
    font-size: 40px !important;
    color: #ccc;
    cursor: pointer;
}

.stars label:before {
    content: '★';
}

.stars-radio.checked+label {
    color: gold;
}

.banner-success {
    background-color: #defde6 !important;
}

footer {
    background-color: #defde6 !important;
}

img {
    border-radius: 50%;
}