{% extends 'base.html.twig' %}

{% block title %}Leftover to recipe{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col">
            <a 
                href={{ path('get_camera') }} 
                class="h5 text-info"
                style="text-decoration: none;"
                >
                <i class="fas fa-arrow-circle-left text-info"></i>
                Return to camera
            </a>
        </div>
    </div>

    <form 
        method="POST"
        action="{{ path('generate_recipes') }}"
        >
        <div class="d-flex flex-column">
            <div class="card shadow-sm my-3 bg-white border-dark d-block">
                <div class="card-header bg-white border-0">
                    <div class="row" id="ingredients-list">
                        {% for ingredient in ingredients %}
                            <div class="col col-md-6 mb-2">
                                <input type="text" name="ingredients[]" class="ingredient-name border-0" value="{{ ingredient }}" autocomplete="off">
                            </div>
                        {% endfor %}
                    </div>
                    <div class="row">
                        <div class="col">
                            <button type="button" id="add-ingredient" class="btn btn-success">
                              <i class="fa-solid fa-circle-plus"> </i>  Add Ingredient
                            </button>
                        </div>
                    </div>
                </div>

                <div class="card-body bg-transparent border-0 pt-0">
                    <button type="submit" class="btn btn-info text-white w-100">
                        Generate recipes
                    </button>
                </div>
            </div>
        </div>
    </form>

    <script>
        document.getElementById('add-ingredient').addEventListener('click', function() {
            var ingredientsList = document.getElementById('ingredients-list');
            var newIngredientDiv = document.createElement('div');
            newIngredientDiv.className = 'col col-md-6 mb-2';
            newIngredientDiv.innerHTML = '<input placeholder="add ingredient..." type="text" name="ingredients[]" class="ingredient-name border-0" value="" autocomplete="off">';
            ingredientsList.appendChild(newIngredientDiv);
        });
    </script>
{% endblock %}
