{% extends 'base.html.twig' %}

{% block title %}Leftover to recipe{% endblock %}

{% block body %}
    <div class="d-flex flex-column">
        <div class="card shadow-sm my-3 bg-white border-dark d-block">
            <div class="card-header bg-white border-0">
                <div class="row">
                    {% for ingredient in ingredients %}
                        <div class="col col-md-4">
                            <img src="{{ asset('img/{{ ingredient.picture }}.png') }}" height="35" />
                            <p>{{ ingredient.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <div class="card-body bg-transparent border-0 pt-0">
                <a class="btn btn-info text-white w-100" href="{{ path('generate_recipes') }}" >
                    Confirm the ingredients
                </a>
            </div>
        </div>
    </div>
{% endblock %}