{% extends 'base.html.twig' %}

{% block title %}Leftover to recipe{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col">
            <a 
                href={{ path('basic_info') }} 
                class="h5 text-info"
                style="text-decoration: none;"
                >
                <i class="fas fa-arrow-circle-left text-info"></i>
                Return to basic info
            </a>
        </div>
    </div>

    <form 
        method="POST"
        action="{{ path('generate_recipes') }}"
        >
        <div class="d-flex flex-column">
            <div class="card shadow-sm my-3 bg-white border-dark d-block">
                <div class="card-header bg-white border-0">
                    <div class="row">
                        {% for ingredient in ingredients %}
                            <div class="col col-md-6">
                                <p>{{ ingredient }}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="card-body bg-transparent border-0 pt-0">
                    <button type="submit" class="btn btn-info text-white w-100">
                        Confirm the ingredients and generate recipes
                    </button>
                </div>
            </div>
        </div>
    </form>
{% endblock %}