{% extends 'base.html.twig' %}

{% block title %}Leftover to recipe{% endblock %}

{% block javascripts %}
    <script type="module" src="{{ asset('js/camera.js') }}"></script>
{% endblock %}

{% block body %}
    <div class="row my-2">
        <div class="col">
            <a 
                href={{ path('basic_info') }} 
                class="h5 text-info"
                style="text-decoration: none;"
                >
                <i class="fas fa-arrow-circle-left text-info"></i>
                Return to basic info
            </a>
        </div>
    </div>

    <div class="card-body bg-transparent border-0 pt-0">
        <div id="picture-scanner-container" class="col-12 col-md-8 container-fluid d-flex flex-column justify-content-center align-items-center mb-4 p-2">
            <div id="camera"></div>
            <button class="btn btn-info px-4 mt-4" id="captureButton">Capture</button>
            <img id="capturedImage" alt="Captured Image">

            <button class="btn btn-info px-4 mt-4 d-none" id="recaptureBtn">Recapture</button>
            <form 
                id="picture-scanner-form"
                method="POST"
                action="{{ path('generate_ingeredients') }}"
            >
                <input 
                    id="ingredients-image-base64"
                    type="hidden" 
                    name="ingredients_img_base_64"
                    value=""
                />

                <button type="submit" id="commenceIdentifyingIngredientsBtn" class="btn btn-info px-4 mt-4 d-none">
                    Start identifying ingredients
                </button>
            </form>
        </div>
    </div>
{% endblock %}
