{% extends 'base.html.twig' %}

{% block title %}Leftover to Recipe - Login Page{% endblock %}

{% block head_navbar %}{% endblock %}

{% block body_class %}"d-flex align-items-center"{% endblock %}

{% block body %}
    <div class="form-signin w-100 m-auto shadow login-box">
        <form>
            {# <img class="mb-4" src="../assets/brand/bootstrap-logo.svg" alt="" width="72" height="57"> #}
            <h1 class="login-header">Hello There!</h1>

            <div class="form-floating mb-3">
                <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
                <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
                <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                <label for="floatingPassword">Password</label>
            </div>

            <div class="form-check text-start mb-3">
                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                <label class="form-check-label" for="flexCheckDefault">
                    Remember me
                </label>
            </div>
            <button class="btn btn-primary w-100 py-2" type="submit">Log in</button>
            <div class="text-center my-3">
                <a href="#" class="text-decoration-none">Recovery Password</a>
            </div>
            <button type="button" class="btn btn-outline-secondary w-100">
                Sign in with Google
            </button>

            <div class="text-center mt-3">
            <p>
                Don't have an account yet? <a href="#" class="text-decoration-none">Sign Up</a>
            </p>
        </div>
        </form>
    </div>
{% endblock %}

{% block footer %}{% endblock %}